body.light-mode {
  background-color: #f8f9fa;
  color: #212529;
}

.container-sm {
  max-width: 600px;
}

.bg-warning {
  background-color: #fff3cd !important;
}

.table td,
.table th {
  vertical-align: middle !important;
}